@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.cus-title {
    font-family:  "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30pt;
    padding-left: 3rem;
}

.adj-left {
    margin-right: 2rem;
}